body {
    background-color: #ecf0f1;
}

.grid-container {
    display: grid;
    height: auto;
    width: auto;
    grid-template-areas:
            'header header header header header login'
            'main main main main main main'
            'footer footer footer footer footer footer';
    grid-gap: 1vh;
    grid-template-rows: 15vh 70.5vh 10vh;
}

.top{
    grid-area: header;
    background-color: #2ecc71;
}

.login{
    grid-area: login;
}

.main{
    grid-area: main;
    padding: 10px;
    background-color: #C0C0C0;
}

.footer{
    grid-area: footer;
    background-color: #27ae60;
}