body {
    background-color: #FFFFFF;
    padding-top: 5px;
}

header {
    font-size: 25px;
    font-family: Arial;
    text-transform: uppercase;
    text-shadow: 2px 2px #27ae60;
}

a.bouton {
    text-decoration: none!important;
    padding: 7px;
    background-color: #2ecc71;
    border-radius: 5px;
    color: #FFFFFF;
}

a.bouton:hover {
    background-color: #27ae60;
}

.inscription {
    position: absolute;
    top: 25%;
    left: 37%;
    width: 25%;
    background-color: #2ecc71;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px #27ae60;
}
