.grid-container {
    display: grid;
    height: auto;
    width: auto;
    grid-template-areas:
            'categorie categorie categorie categorie categorie ajout'
            'fiches fiches fiches fiches fiches fiches'
            'footer footer footer footer footer footer';
    grid-gap: 1vh;
    grid-auto-rows: 15vh 71vh 10vh;
}

.retour {
    text-decoration: none!important;
    padding: 7px;
    margin: 2vh;
    background-color: #2ecc71;
    border-radius: 5px;
    color: #FFFFFF;
}

.retour:hover {
    background-color: #27ae60;
}

.categorie{
    grid-area: categorie;
    padding-top: 3vh;
    padding-left: 5vh;
    background-color: #2ecc71;
}

.ajout{
    grid-area: ajout;
    padding-top: 3vh;
    padding-left: 3vh;
    background-color: #808080;
}

.fiches{
    grid-area: fiches;
    padding: 5vh;
    background-color: #C0C0C0;
}

.blocListe{
    height: 10vh;
    width: 10vh;
    padding: 0.5em;
}

.footer {
    grid-area: footer;
    background-color: #27ae60;
    padding: 3vh;
}