body {
    background-color: #ecf0f1;
    padding-top: 5px;
    font-family: Arial;
}

header {
    font-size: 25px;
    font-family: Arial;
    text-transform: uppercase;
    text-shadow: 2px 2px #27ae60;
}

a.bouton {
    text-decoration: none!important;
    padding: 7px;
    background-color: #24a85b;
    color: #FFFFFF;
}

a.bouton:hover {
    background-color: #1f9350;
}

input[type=text], input[type=password], input[type=tel], input[type=email] {
    padding: 7px;
    border: 0 none;
    border-radius: 5px;
    width: 200px;
}

input[type=submit] {
    border: 0 none;
    cursor:pointer;
    border-radius: 5px;
    font-size: medium;
    padding: 7px;
    width: 214px;
    background-color: #24a85b;
    color: #FFFFFF;
    margin-top: 1vh;
}

input[type=submit]:hover {
    background-color: #1f9350;
}

.inscription {
    margin: 20vh auto auto auto;
    background-color: #2ecc71;
    width: 20vw;
    height: 45vh;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

.inscription > img {
    margin: 10px;
}
